<!DOCTYPE html><html><head></head><body><p>Hello there,</p> Discount of ${discount} is applicable on your first order.<p>Please register using the link ${websiteAddr}</p><p>Regards,<br/>Nancy's Business Team</p></body></html>