<!DOCTYPE html><html><head></head><body><p>Hello there,</p> Gift Item ${giftItemDescription} will be added to the cart post registration.<p>Please register using the link ${websiteAddr}</p><p>Regards,<br/>Nancy's Business Team</p></body></html>