<!DOCTYPE html><html><head></head><body><p>Hello there,</p> Loyalty points with ${points} can be availed by registering with us.<p>Please register using the link ${websiteAddr}</p><p>Regards,<br/>Nancy's Business Team</p></body></html>