<!DOCTYPE html><html><head></head><body><p>Hello there,</p> Voucher amount with ${amount} will be emailed to your registered email id post the first order.<p>Please register using the link ${websiteAddr}</p><p>Regards,<br/>Nancy's Business Team</p></body></html>